	<nav class="fh5co-nav" role="navigation">
		<div class="container-wrap">
			<div class="top-menu">
				<div class="row">
					<div class="col-md-12 col-offset-0 text-center">
						<div id="fh5co-logo"><a href="/"><img class="rccg_logo" src="images/Rccg_Logo2.png" alt=""></a><a href="#"> RCCG RADIANT CHURCH</a></div>
					</div>
					<div class="col-md-12 col-md-offset-0 text-center menu-1">
						<ul>
							<li class="active"><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/sermons">Sermons</a></li>
							<li class="has-dropdown">
								<a href="/news">News</a>
								{{!-- <ul class="dropdown">
									<li><a href="#">Ministry</a></li>
									<li><a href="#">Medical Missionary</a></li>
									<li><a href="#">Country Living</a></li>
									<li><a href="#">Gospel Workers</a></li>
								</ul> --}}
							</li>
							<li><a href="/events">Events</a></li>
							<li><a href="/contact">Contact</a></li>
							<li><a href="/gallery">Gallery</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>