<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(images/flashy_bg/images-12.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 text-center">
										<div class="slider-text">
												<div class="slider-text-inner">
														<h1>About Us</h1>
														<h2>This website is a project of Rccg Radiant Church (1st service media department)</h2>
													</div>
										 </div>	
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
			<div id="fh5co-about">
			<div class="row animate-box">
				<div class="col-md-12">
					<div id="scroll-bar">
						<h2>Welcome to RCCG Radiant Church</h2>
					<span>
						<p>RCCG Radiant Church is a parish of The Redeemed Christian Church of God and an offshoot of the Apapa Family. We are a Christ-centric, Bible-believing, Spirit-filled group of committed worshippers. </p>
						<p>We celebrate the measure of the nature of Jesus Christ that is evident in the life of each of us individually and all of us collectively as a church. We call this the Jesus Quotient (JQ). Jesus is our standard and reference point. The less of us and more of Jesus that is demonstrated in our lives, the more assured we are of our progress in life. </p>
						<p>The church has a diverse congregation fitly joined together by our love for Jesus Christ and submission to His will. We consist of persons from a variety of backgrounds and have diverse interests, diverse abilities and age groups. We accommodate and celebrate our diversities as strength. We are convinced that we have been planted for a unique and specific purpose. We have been planted as model for the world and for the church; planted to transform the world one person at a time by the renewing of their minds.</p>
						<p>We have the mandate for dominion, for the advancement of the Kingdom of God and as an expression of the nature of Christ to this world. We are uncompromisingly committed to His Word and His Work. </p>
						<p>We have a contemporary and practical approach to our faith which embraces the boundaries set by the Word of God while acknowledging the power and dynamism of the Holy Spirit. We desire, expect and provoke the Supernatural for we believe that the just shall live by their faith. We recognise that there is more to us than our humanity and so we give full encouragement to the exploration of our spirituality. </p>
						<p>We express our love and devotion to God through our service, obedience, giving and praise and worship. Worshippers are encouraged to find expression for their worship in singing, shouting, kneeling, standing, leaping, clapping of hands, raising of arms, bowing of heads as we reverence and adore our God. We desire to involve the whole person – body, soul and spirit – in the worship of our King. We are blessed with a vibrant choir that is focussed on leading the church to worship in Spirit and in Truth. </p>
						<p>Radiant Church welcomes you to be part of this committed group of worshippers who are on an exciting journey of faith whose destination extends beyond the earth.</p>
					</span>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div id="fh5co-news">
			<div class="row animate-box" style= "display: flex; flex-wrap: wrap";>
				<div class="news col-md-6 col-sm-6">
				 <a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-12.jpg"></a>
					<h3>Church Anthem</h3>
					<blockquote class="dailyVerse">
						<p>&ldquo;But ye are a chosen generation, a royal priesthood, an holy nation, a peculiar people; that ye should shew forth the praises of him who hath called you out of darkness into his marvellous light.&rdquo;</p>
						<span>1 Peter 2:9 (KJV)</span>
					</blockquote>
				</div>
				<div class="news col-md-6 col-sm-6">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-11.jpg"></a>
						<div class="desc">
								<h3>Our Purpose </h3>
							<p>To equip every member of Radiant Church to become a disciple of Christ irrespective of age, gender, social, employment or financial status.</p>
						<p>The pillars that underpin our culture and values as a community of worshippers are: Love, Holiness, Faith, Excellence, Sacrifice and Service. (Insert the elements of Jesus culture) </p>	
						
						</div>
					</div>
						<div class="news col-md-6 col-sm-6">
					<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-4.jpg"></a>
						<div class="desc">
								<h3>Our Mission </h3>
							<p>To lift up Jesus by demonstrating His nature and His power (John 12:32 & 1 Cor. 2:4)</p>
						</div>
					</div>

					<div class="news col-md-6 col-sm-6">
							<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-9.jpg"></a>
						<div class="desc">
								<h3>Our Vision</h3>
								<p>To be a glorious Radiant church without stain or blemish that Christ would meet on His return and accept as His bride. (Eph. 5:27)</p>
						</div>
					</div>
			</div>
		</div>

	</div><!-- END container-wrap -->