<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(images/flashy_bg/images-12.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 text-center">
										<div class="slider-text">
												<div class="slider-text-inner">
														<h1>Our Events</h1>
														<h3 style="color: rgb(165, 165, 189)">Worship Schedule & Youth Ministry</h3>
														<h2>This website is a project of Rccg Radiant Church (1st service media department)</h2>
													</div>
										 </div>	
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-events">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Worship Schedule</h2>
					{{!-- <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p> --}}
				</div>
			</div>
				<div class="row" style= "display: flex; flex-wrap: wrap";>
				<div class="col-md-3 col-sm-6 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-4.jpg"></a>
						<div class="desc">
							<span class="date">Sunday 8:00 a.m</span>
							<h3><a href="#">First Service</a></h3>
							<p>Join us for our 1st Service,  a unique expression of worship that combines contemporary worship with insightful, practical life application teachings.</p>
							{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-9.jpg"></a>
						<div class="desc">
							<span class="date">Sunday 9:00 a.m</span>
							<h3><a href="#">Family Worship Service</a></h3>
							<p>Join us for our Family Worship services at the Church Auditorium located at 370, Ikorodu Road, Maryland by Adedotun Dina Junction (beside Citiserve and close to BRT Bus-stop).</p>
							{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-11.jpg"></a>
						<div class="desc">
							<span class="date">TUESDAY 6:00 p.m</span>
							<h3><a href="#">Digging Deep</a></h3>
							<p>This is the time for Bible study. We meet to share to word of God.</p>
							{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-6.jpg"></a>
						<div class="desc">
							<span class="date">THURSDAY 6:30 p.m</span>
							<h3><a href="#">Faith Clinic</a></h3>
							<p>We meet for one hour to pray to God</p>
							{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 animate-box">
					<div class="events-entry" id="events-lettering">
						
						<p class="special-text">We believe that every component of the Sunday Service is important even though we may give priority to the worship and the Word. We desire to be obedient to the leading of the Holy Spirit, which means that sometimes we may deviate from our regular schedule and have special sessions of prayer or ministrations for selected categories as led by the Spirit of God. Once a month on the first Tuesday we celebrate the Holy Communion as instituted by our Lord and Saviour Jesus Christ through the Lord’s Supper. We have a special monthly Thanksgiving Service on the first Sunday of the month. This is a combined service.</p>
						<p class="special-text">Sunday School classes hold between 9am – 9.50am and provides an interactive platform for learning, sharing, asking questions, getting answers and growing deeper. There are special Sunday School classes for children and teenagers.</p>
						{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
					</div>
				</div>

			<div class="row animate-box">
				<div class="col-md-12  text-center fh5co-heading" style="width:100%; background-color: rgba(238, 238, 238, 0.959)">
					<h2 style="margin-top:10px">Youth Ministry</h2>
					<p>The following are our Youth programs.</p>
				</div>
				
				<div class="col-md-4 col-sm-6 animate-box">
					<div class="events-entry">
						<h3><a href="#">Earthshaking Praise</a></h3>
						{{!-- <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p> --}}
						{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
					</div>
				</div>

				<div class="col-md-4 col-sm-6 animate-box">
					<div class="events-entry">
						<h3><a href="#">Youth Service</a></h3>
						{{!-- <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p> --}}
						{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
					</div>
				</div>

				<div class="col-md-4 col-sm-6 animate-box">
					<div class="events-entry">
						<h3><a href="#">Worker’s Day Out</a></h3>
						{{!-- <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p> --}}
						{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
					</div>
				</div>

				<div class="col-md-4 col-sm-6 animate-box">
					<div class="events-entry">
						<h3><a href="#">Children’s Funfair</a></h3>
						{{!-- <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p> --}}
						{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
					</div>
				</div>

				<div class="col-md-4 col-sm-6 animate-box">
					<div class="events-entry">
						<h3><a href="#">Aerobic Workout</a></h3>
						{{!-- <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p> --}}
						{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
					</div>
				</div>

				<div class="col-md-4 col-sm-6 animate-box">
					<div class="events-entry">
						<h3><a href="#">Family and Friends Sunday</a></h3>
						{{!-- <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p> --}}
						{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
					</div>
				</div>
	</div>
		</div>

	</div><!-- END container-wrap -->
