
	<div class="container-wrap">
		<aside id="fh5co-hero" style="margin-bottom: 100px;">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(images/folder/IMG_3010.jpg); background-position: center center;">
						<div class="overlay"></div>	
				 </li>
					<li style="background-image: url(images/folder/IMG_3016.jpg); background-position: center center;">
						<div class="overlay"></div>	
					</li>
					<li style="background-image: url(images/folder/IMG_3033.jpg); background-position: center center;">
						<div class="overlay"></div>		
				 </li>
				 <li style="background-image: url(images/folder/IMG_3011.jpg); background-position: center center;">
							<div class="overlay"></div>	
					 </li>
			  	</ul>
		  	</div>
		</aside>

	<!-- PHOTO GALLERY -->
	<div id="gallery" class="py-5">
		
			<h1 class="text-center">Photo Gallery</h1>
			<p class="text-center">Check out our photos</p>
			<div class="row mb-4">
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3011.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3011.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3012.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3012.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3016.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3016.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3034.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3034.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3018.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3018.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3034.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3034.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
			</div>
		
	</div>


	</div><!-- END container-wrap -->

	
