
	<div class="container-wrap">
		<aside id="fh5co-hero" style="margin-bottom: 100px;">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(images/folder/IMG_3010.JPG);">
						<div class="overlay"></div>	
				 </li>
					<li style="background-image: url(images/folder/IMG_3020.JPG);">
						<div class="overlay"></div>	
					</li>
					<li style="background-image: url(images/folder/IMG_3033.JPG);">
						<div class="overlay"></div>		
				 </li>
				 <li style="background-image: url(images/folder/IMG_3011.JPG);">
							<div class="overlay"></div>	
					 </li>
			  	</ul>
		  	</div>
		</aside>

	<!-- PHOTO GALLERY -->
	<div id="gallery" class="py-5">
		
			<h1 class="text-center">Photo Gallery</h1>
			<p class="text-center">Check out our photos</p>
			<div class="row mb-4">
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3011.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3011.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3012.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3012.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3016.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3020.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3034.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3034.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3018.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3018.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3034.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3034.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9710.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9710.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9711.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9711.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9714.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9714.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9720.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9720.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9722.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9722.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9728.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9728.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9729.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9729.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9731.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9731.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9738.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9738.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9742.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9742.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9742.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9742.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9745.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9745.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9746.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9746.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9764.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9764.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9766.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9766.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9769.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9769.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9774.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9774.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9778.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9778.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9783.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9783.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9784.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9784.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9791.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9791.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9784.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9784.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9791.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9791.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9797.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9797.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9802.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9802.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9803.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9803.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9806.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9806.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9815.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9815.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9820.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9820.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9821.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9821.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9822.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9822.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9823.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9823.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9824.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9824.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9825.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9825.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9826.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9826.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9827.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9827.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
					<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9846.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9846.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
					<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9852.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9852.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
					<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9855.JPG" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9855.JPG" alt="" class="img-thumbnail">
          </a>
				</div>
			</div>
		
	</div>


	</div><!-- END container-wrap -->

	
