
	<div class="container-wrap">
		<aside id="fh5co-hero" style="margin-bottom: 100px;">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(images/folder/IMG_3010.jpg);">
						<div class="overlay"></div>	
				 </li>
					<li style="background-image: url(images/folder/IMG_3020.jpg);">
						<div class="overlay"></div>	
					</li>
					<li style="background-image: url(images/folder/IMG_3033.jpg);">
						<div class="overlay"></div>		
				 </li>
				 <li style="background-image: url(images/folder/IMG_3011.jpg);">
							<div class="overlay"></div>	
					 </li>
			  	</ul>
		  	</div>
		</aside>

	<!-- PHOTO GALLERY -->
	<div id="gallery" class="py-5">
		
			<h1 class="text-center">Photo Gallery</h1>
			<p class="text-center">Check out our photos</p>
			<div class="row mb-4">
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3011.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3011.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3012.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3012.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3016.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3020.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3034.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3034.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3018.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3018.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/IMG_3034.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/IMG_3034.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9710.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9710.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9711.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9711.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9714.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9714.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9720.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9720.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9722.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9722.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9728.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9728.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9729.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9729.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9731.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9731.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9738.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9738.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9742.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9742.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9742.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9742.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9745.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9745.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9746.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9746.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9764.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9764.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9766.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9766.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9769.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9769.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9774.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9774.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9778.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9778.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9783.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9783.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9784.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9784.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9791.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9791.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9784.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9784.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9791.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9791.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9797.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9797.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9802.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9802.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9803.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9803.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9806.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9806.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9815.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9815.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9820.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9820.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9821.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9821.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9822.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9822.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9823.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9823.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9824.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9824.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9825.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9825.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9826.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9826.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
				<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9827.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9827.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
					<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9846.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9846.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
					<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9852.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9852.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
					<div class="col-md-4 col-sm-6">
					<a href="images/folder/DSCN9855.jpg" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="images/folder/DSCN9855.jpg" alt="" class="img-thumbnail">
          </a>
				</div>
			</div>
		
	</div>


	</div><!-- END container-wrap -->

	
