<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(images/flashy_bg/images-12.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 text-center">
										<div class="slider-text">
												<div class="slider-text-inner">
														<h1>NEWS</h1>
														<h2>This website is a project of Rccg Radiant Church (1st service media department)</h2>
													</div>
										 </div>	
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-news">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Ministries &amp; Groups</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row" style= "display: flex; flex-wrap: wrap";>
				<div class="col-md-4 col-sm-6 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-4.jpg"></a>
						<div class="desc">
							{{!-- <span class="date">August 30, 2018</span> --}}
							<h3><a href="#">The Worker's Team </a></h3>
							<p>Jesus was a humble servant leader and as disciples of Christ, we will serve people (Luke 22:24-27). We aspire not only to serve inside the church with excellence, but to minister in the marketplace. This church intends to produce problem solvers who will meet the needs of their community and be the salt and light within their sphere of influence. We are called to be the salt and light of the world. (Matthew 5:13:16; Matthew 28:18-20). </p>
							{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-6.jpg"></a>
						<div class="desc">
							{{!-- <span class="date">August 30, 2018</span> --}}
							<h3><a href="#">The Hospitality Team </a></h3>
							<p>The purpose of the Hospitality Team is: (1) to create an environment of warmth by welcoming and accepting individuals from any background into the RADIANT CHURCH community. (2) to make those who come to RADIANT CHURCH feel comfortable as they discover God and the fullness of who they are in Christ. (3) to establish a community where they feel welcomed.</p>
							{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-9.jpg"></a>
						<div class="desc">
							{{!-- <span class="date">August 30, 2018</span> --}}
							<h3><a href="#">Echoes of Grace Worship Team </a></h3>
							<p>The purpose of our praise and worship team is to: (1) To promote the worship of God through music. (2) To invoke the presence of God through worship (3) To lead and involve the congregation in praise, adoration, and thanksgiving. (4) To create an atmosphere most conducive to hearing from and connecting with God. (5) To be a channel for the manifestation of the supernatural power of God in healing, deliverance etc </p>
							{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-11.jpg"></a>
						<div class="desc">
							{{!-- <span class="date">August 30, 2018</span> --}}
							<h3><a href="#">The Audio/Visual Team </a></h3>
							<p>The purpose of the A/V&M Team is: (1) to fully engage the congregation with every aspect of our services: praise & worship, the message, bible verses, prayer points and announcements. (2) to oversee the technical setup and equipment. (3) to manage the audio, video and projector feeds during service. (4) to launch the “RADIANT Presents” monthly news video series (anticipated launch date is October).</p>
							{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-12.jpg"></a>
						<div class="desc">
							{{!-- <span class="date">August 30, 2018</span> --}}
							<h3><a href="#">The Attraction Group </a></h3>
							<p>The Attraction Team ensures that a lot is happening at Radiant Church and is responsible for keeping everyone informed and in the loop. This team coordinates all internal and external communications and attraction efforts.</p>
							{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-6.jpg"></a>
						<div class="desc">
							{{!-- <span class="date">August 30, 2018</span> --}}
							<h3><a href="#">The Retention Group </a></h3>
							<p>The Retention Team is responsible for ensuring all newcomers are easily and quickly integrated into our community of worshippers in Radiant Church. They help newcomers to feel that sense of acceptance and belonging that is important when you join a new group. This team coordinates all welcome, visitation, follow-up, hospitality and welfare activities in church.</p>
							{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-4.jpg"></a>
						<div class="desc">
							{{!-- <span class="date">August 30, 2018</span> --}}
							<h3><a href="#">The Maturation Group </a></h3>
							<p>The Maturation Team has the responsibility of ensuring that everyone is provided the opportunity and encouraged to grow into sons and not remain as babes by attending specially designed classes and programmes and taking advantage of opportunities to develop their gifts and use them to serve. This team coordinates all training and discipleship classes and programmes.</p>
							{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-12.jpg"></a>
						<div class="desc">
							{{!-- <span class="date">August 30, 2018</span> --}}
							<h3><a href="#">The Ushering Group </a></h3>
							<p>The Ushering Group is the team that manages the collection and recording of tithes and offerings during all our services at Radiant church. It is also responsible for keeping up-to-date books and attendance records. This team will also recommend fundraising methods and assist in raising funds for church programmes, projects and other church expenses.</p>
							{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-9.jpg"></a>
						<div class="desc">
							{{!-- <span class="date">August 30, 2018</span> --}}
							<h3><a href="#">The 1st Service Group  </a></h3>
							<p>This is the team that is responsible for planning, coordinating and executing all activities and programmes for the 1st service. It is made up mostly of young professionals, entrepreneurs and students who have embraced the vision for the 1st service and are committed to running with it.</p>
							{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="images/flashy_bg/images-4.jpg"></a>
						<div class="desc">
							{{!-- <span class="date">August 30, 2018</span> --}}
							<h3><a href="#">The Church Office </a></h3>
							<p>Making payments, acting as signatories on authorized cheques and managing imprest, financial requests and requisitions from all departments.</p>
							{{!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a> --}}
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div><!-- END container-wrap -->